/**
* @description: CSS通用样式
* @author: Joel
*/

.size-12, .size-12::before, .size-12::after {
  font-size: 12px;
  
}

[hidden], [hide] {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  &:after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    clear: both;
    zoom: 1;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.pointer {
  cursor: pointer;
}

//禁止文本被选中
.not-select{
  -moz-user-select:none; /*火狐*/
  -webkit-user-select:none; /*webkit浏览器*/
  -ms-user-select:none; /*IE10*/
  -khtml-user-select:none; /*早期浏览器*/
  user-select:none;
}

/* 滚动条优化 start */
::-webkit-scrollbar{
  width: 7px;
  height: 7px
}
::-webkit-scrollbar-track{
  background: #f6f6f6;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb{
  background: #cdcdcd;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
  background: #747474;
}
::-webkit-scrollbar-corner {
  background: #f6f6f6;
}
/* 滚动条优化 end */